.container {
  width: 1120px;
  margin: auto;
}

.header {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header img {
  width: 200px;
}

form {
  border: 2px solid rgb(211, 210, 210);
  border-radius: 25px;
  width: 30%;
  margin-right: 25px;
}

form,
i {
  margin-left: 9px;
}

input {
  margin-top: 13px;
  width: 290px;
  border: none;
  outline: none;
}

.header ul {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header ul li {
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 17px;
  padding: 10px;
  border-radius: 30px;
  line-height: 20px;
}

.header ul li:hover {
  background-color: rgb(230, 228, 228);
  padding: 10px;
  border-radius: 30px;
}

.header ul li:last-child {
  color: rgb(255, 255, 255);
  background-color: black;
}

.header ul li:hover:last-child {
  background-color: rgb(55, 55, 55);
  padding: 10px;
  border-radius: 30px;
}

.title {
  font-size: 58px;
  font-family: "Mukta", sans-serif;
  margin-top: 35px;
}

.title span {
  color: rgb(248, 98, 81);
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 20px;
  color: rgb(107, 106, 106);
}

.nav-middle ul {
  margin-top: 40px;
  display: flex;
  gap: 8px;
}

.nav-middle ul .button {
  padding-top: 14px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-around;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  flex: auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 15px;
}

.nav-middle ul .button:hover {
  background-color: black;
  color: white;
  padding-top: 14px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-around;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  flex: auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 15px;
}

.img-wrapper {
  display: flex;
}

.category-info {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  line-height: 50px;
  color: rgb(107, 106, 106);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.immanquables {
  margin-top: 60px;
  font-size: 25px;
  font-family: "Mukta", sansx-serif;
}
